body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    padding: 10px;
    width: 20%;
    align-self: center;
}

input {
    width: 25px;
}

.header {
    width: 800px;
    margin: 18px;
    font-size: 12pt;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputs {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.container,
.row,
.square {
    margin: 0;
    padding: 0;
    display: flex;
}

.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 800px;
    height: 800px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 20px;
    flex: 1 1 auto;
}

.square {
    border: 1px solid gray;
    width: 20px;
    height: 100%;
    flex: 1 1 auto;
}

.solid {
    background-color: rgb(93, 186, 209);
}

.transparent {
    background-color: rgba(93, 186, 209, 0.336);
}